/* BASIC */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* TYPOGRAPHY */

a,
input,
.search-btn{
    font-size: 1.4rem;
}

.search-btn,
input,
h2 {
    font-weight: 500;
}

a,
.main-text,
h3 {
    font-weight: 700;
}

h2, h3,
.main-text {
    font-size: 1.8rem;
}

h2,
.search-btn,
.rating,
.row2-item{
    color: #FFFFFF;
}

.rating, 
.row2-item,
.plot{
    font-weight: 400;
    font-size: 1.2rem;
}

input,
.plot {
    color: #A5A5A5;
}

h1 {
    font-weight: 800;
    font-size: 4.2rem;

    align-items: center;
    text-align: justify;
    letter-spacing: -0.045em;
}

h3 {
    color: #787878;
    text-align: center;
}

a {
    font-size: 1.4rem;
    text-decoration:none;
}

a, a:visited {
    color: black;
}

a:focus,
a:hover {
   opacity: 50%;
}

.main-text {
    color: #2E2E2F;
}

/* HEADER */

body {
    background: #121212;
    height: 100vh;
}

header,
.search-bar,
main,
.movie-cnt,
.row-1, .row-2,
h1 {
    display: flex;
}

header {
    justify-content: space-around;
    align-items: center;
    background-image: url(/images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25%;
}
/* SEARCH BAR */

section {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
}

.search-bar {
    height: 38px;
    justify-content: center;
    align-items: center;
    margin-top: -19px;
}

input,
.search-btn
 {
    height: 100%;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.search-icon {
    padding: 1.25em;
    height: 15px;
    background-color: #2C2C2C;
    border-radius: 6px 0px 0px 6px;
    height: 100%;
}

input {
    width: 100%;
    background: #2E2E2F;
    padding: 0.9em 0em 0.9em 0em;
}

.search-btn {
    cursor: pointer;
    min-width: 80px;
    max-width: 120px;
    background: #4B4B4B;
    border-radius: 0px 6px 6px 0px;
}

/* MAIN */

main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75%;
}

.movie-cnt {
    height: 200px;
    max-width: 600px;
    border-bottom: 1.5px solid #2C2C2C;
    padding: 2em 0;
}

.movie-cnt img {
    height: 100%;
}

.movie-description-cnt {
    padding-left: 1.5em;
}

.row-1, .row-2 {
    padding: 1em 0;
}

.row-1 {
    align-items: baseline;
}

.row-1 p {
    padding-left: 0.5em;
}

.row-2 {
    align-items: center;
}

.row-2 p {
    padding-right: 1em;
}

.row-2 p:last-of-type {
    padding-left: 0.5em;
}


.watchlist {
    border: none;
    background-size: cover;
    min-width: 15px;
    min-height: 15px;
    background-color: black;
}

.add {
    background-image: url(images/Icon\ \(2\).png)
}

.remove {
    background-image: url(images/Icon\ \(3\).png)
}

a {
    transition: opacity, 0.6s;
}

/* MEDIA QUERIES */

@media (max-width: 450px){
    header {
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
}