/* ANIMATIONS */
.fadeIn {
    animation: fadeIn 0.3s ease-in;
}


/* KEYFRAMES */

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

/* BASIC */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* TYPOGRAPHY */

a,
input,
button {
    font-size: 1.4rem;
}

button,
input,
h2 {
    font-weight: 500;
}

a,
.main-text,
h3 {
    font-weight: 700;
}

h2, h3,
.main-text {
    font-size: 1.8rem;
}

h2,
button,
.rating,
.row2-item,
main a{
    color: #FFFFFF;
}

.rating, 
.row2-item,
.plot{
    font-weight: 400;
    font-size: 1.2rem;
}

input,
.plot {
    color: #A5A5A5;
}

h1 {
    font-weight: 800;
    font-size: 4.2rem;

    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: -0.045em;
}

h3 {
    color: #787878;
}

a {
    font-size: 1.4rem;
    text-decoration:none;
}

header a:visited {
    color: black;
}

a:focus,
a:hover {
   opacity: 50%;
}

.main-text {
    color: #2E2E2F;
}

/* HEADER */

body {
    background: #121212;
    height: 100vh;
}

header,
.search-bar,
main,
.movie-cnt,
.row-1, .row-2 {
    display: flex;
}

header {
    justify-content: space-around;
    align-items: center;
    background-image: url(/images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25%;
}

/* MAIN */

main {
    flex-direction: column;
    align-items: center;
    min-height: 75%;
}

.movie-cnt {
    height: 200px;
    max-width: 600px;
    border-bottom: 1.5px solid #2C2C2C;
    padding: 2em 0;
}

.movie-cnt img {
    height: 100%;
}

.movie-description-cnt {
    padding-left: 1.5em;
}

.row-1, .row-2 {
    padding: 1em 0;
}

.row-1 {
    align-items: baseline;
}

.row-1 p {
    padding-left: 0.5em;
}

.row-2 {
    align-items: center;
}

.row-2 p {
    padding-right: 1em;
}

.row-2 p:last-of-type {
    padding-left: 0.5em;
}

.watchlist {
    border: none;
    background-size: cover;
    min-width: 15px;
    min-height: 15px;
    background-color: black;
}

.add {
    background-image: url(images/Icon\ \(2\).png);
}

.remove {
    background-image: url(images/Icon\ \(3\).png)
}

a {
    transition: opacity, 0.6s;
}

a img {
    height: 18px;
}

.no-content-cnt {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 570px;
}

main a {
    display: flex;
    align-items: center;
    gap: 7px;
    padding-top: 1.5em;
}

/* MEDIA QUERIES */

@media (max-width: 450px){
    header {
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
}